.container {
  gap: vars.$spacing-tertiary;

  .labelContainer {
    flex: 2;
    white-space: nowrap;
  }

  .inputContainer {
    min-width: 100px;
    flex: 1;
    border-radius: vars.$roundness;

    input {
      justify-content: center;
      background-color: transparent;
      color: vars.$color-text-primary;
      padding-inline: vars.$spacing-primary;
      padding-block: vars.$spacing-secondary;
      border-radius: vars.$roundness;
      // overflow: hidden;
      cursor: text;
      font-size: vars.$font-size-body;
      height: vars.$input-height;
    }

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.disabled {
  filter: brightness(0.8);
}

.horizontal {
  @media (min-width: vars.$breakpoint-small) {
    flex-direction: row;
    gap: vars.$spacing-primary;
  }
}
