.container {
  flex: 1;
  align-items: center;
  width: 100%;
  max-width: 600px;
  align-self: center;

  .content {
    gap: vars.$spacing-primary;
    padding: vars.$spacing-primary;
    flex: 1;
  }
}
