/* Spacing */
$spacing-primary: 12px;
$spacing-secondary: 8px;
$spacing-tertiary: 4px;
$roundness: 4px;

/* Layout */
$layout-header-height: 4rem;
$layout-navbar-width: 275px;
$line-height: 1.6;
$input-height: 36px;
$max-width: var(--max-width);

/* Typography */
$font-weight-bold: 600;
$font-weight-semiBold: 500;
$font-weight-normal: 100;

$font-size-biiig: 5rem;
$font-size-display: 2.4rem;
$font-size-heading: 2rem;
$font-size-heading2: 1.7rem;
$font-size-body: 1.6rem;
$font-size-body2: 1.4rem;

/* Icons */
$icon-size-large: 2.4rem;
$icon-size-medium: 1.75rem;
$icon-size-small: 1.5rem;

/* Breakpoints */
$breakpoint-small: 800px;
$breakpoint-medium: 1000px;
$breakpoint-large: 1200px;

/* Filters */
$active-brightness-filter: 1.1;
$disabled-brightness-filter: 0.7;

/* Colors */
$color-primary: rgb(85, 34, 166);
$color-primary-hover: rgb(97, 39, 191);
$color-secondary: rgb(60, 60, 60);
$color-secondary-hover: rgb(60, 60, 60);
$color-danger: rgb(220, 20, 20);
$color-danger-hover: rgb(235, 35, 35);
$color-warning: #e6c108;
$color-red: #a72608;
$color-success: #178f1f;
$color-grey: #888888;
$color-white: #ffffff;
$color-link: #6695ec;
$shadow: 0px 4px 6px rgba(10, 7, 7, 0.5);
$color-background-translucent: rgba(0, 0, 0, 0.6);
$color-background-translucent-light: rgba(0, 0, 0, 0.4);

$color-background: rgb(15, 15, 15);
$color-surface: rgb(25, 25, 25);
$color-surface2: rgb(40, 40, 40);
$color-surface3: rgba(65, 65, 65);
$color-surface4: rgba(80, 80, 70);
$color-surface5: rgba(95, 95, 95);

$color-text-primary: rgba(255, 255, 255, 0.87);
$color-text-secondary: rgba(255, 255, 255, 0.7);
$color-text-tertiary: rgba(255, 255, 255, 0.5);
$color-outline: #343e4b;
