.container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: vars.$spacing-primary;

  .button {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-bottom: 2px;
  }

  .backButton {
    @extend .button;
    left: vars.$spacing-primary;
  }

  .closeButton {
    @extend .button;
    right: vars.$spacing-primary;
  }

  .buttonIcon {
    font-size: vars.$icon-size-medium;
  }

  .heading {
    justify-content: center;
    align-items: center;

    .headingTitle {
      font-size: vars.$font-size-h1;
    }
  }
}
