.container {
  border-top-left-radius: vars.$roundness;
  border-top-right-radius: vars.$roundness;
  gap: vars.$spacing-secondary;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .player {
  }
}
