@layer {
  .container {
    display: flex;
    flex-direction: column;
    border-radius: var(--roundness);

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: var(--space-large);
      padding-inline: var(--space-large);

      .heading {
        flex: 1;
        font-weight: bold;
      }

      .headerButtons {
        display: flex;
        flex-direction: row;
        gap: var(--space-medium);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: var(--space-large);
      padding: var(--space-large);
    }
  }
}
