.container {
  display: flex;
  align-items: center;
  background-color: var(--color-surface-1);

  .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: var(--breakpoint-large);
    margin-inline: auto;
    align-items: center;
    gap: var(--space-large);
    padding: var(--space-large);
    align-items: center;

    .heading {
      font-size: var(--font-size-title);
    }

    /* padding-inline: var(--space-medium); */
    /* padding-block: var(--space-medium); */
  }

  .statsButton {
    margin-left: auto;
  }

  .settingsButton {
  }
}
