.container {
  height: 80px;
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: brightness(0.7);
  cursor: pointer;
  border: 1px solid vars.$color-surface2;

  .imageContainer {
    background-color: vars.$color-primary;
    aspect-ratio: 1;
    height: 100%;
    width: 64px;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    .image {
      position: absolute;
      object-fit: cover;
      height: calc(100% - 4px);
    }
  }

  .imageContainerGood {
    @extend .imageContainer;

    background: vars.$gradient-good;
  }

  .imageContainerEvil {
    @extend .imageContainer;
    background: vars.$gradient-evil;
  }

  .text {
    flex: 1;
    padding: vars.$spacing-secondary;
    padding-inline: vars.$spacing-primary;
    height: 100%;

    .name {
      flex-direction: row;
      gap: vars.$spacing-tertiary;
      align-items: center;
      font-size: vars.$font-size-h3;
      flex: 1;
    }

    .description {
      font-size: vars.$font-size-body2;
      color: vars.$color-text-secondary;
      white-space: wrap;
    }
  }

  .boosts {
    font-size: vars.$font-size-body2;
    margin-right: 4px;
    position: absolute;
    top: 0;
    right: -4px;
    background-color: vars.$color-surface2;
    padding-left: vars.$spacing-tertiary;
    padding-right: vars.$spacing-tertiary;
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom-left-radius: vars.$roundness;
    outline: 1px solid vars.$color-surface3;
    width: 88px;
    white-space: nowrap;
    text-align: center;
  }

  .boostsGood {
    @extend .boosts;
    color: vars.$color-good;
  }

  .boostsBad {
    @extend .boosts;
    color: vars.$color-evil;
  }
}

.containerChecked {
  filter: brightness(1);
}
