$evilColor: #f07e0a;
$goodColor: #43839a;

.container {
  box-shadow: vars.$shadow;
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  padding: vars.$spacing-primary;
  cursor: pointer;
  filter: grayscale(100%);

  .cover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    border-radius: vars.$roundness;
    background-color: vars.$color-surface2;
  }

  .coverRevealed {
    background-color: unset;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .infoButton {
    position: absolute;
    top: vars.$spacing-tertiary;
    right: vars.$spacing-tertiary;
    background-color: rgba(128, 128, 128, 0.75);
    border-radius: 100%;
    padding: vars.$spacing-tertiary;
    aspect-ratio: 1;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    z-index: 2;
  }

  .name {
    text-align: center;
    color: vars.$color-text-primary;
  }

  .description {
    padding: vars.$spacing-primary;
    color: vars.$color-text-secondary;
  }

  &:hover {
    scale: 1.02;
  }
}

.active {
  filter: unset;
  // border-width: 0;

  // .image {
  //   transform: scale(1.1);
  // }
}

.good {
  background: rgb(55, 80, 89);
  background: radial-gradient(circle, rgba(55, 80, 89, 1) 0%, rgba(67, 98, 154, 1) 45%, rgba(53, 128, 187, 1) 81%);
}

.activeGood {
  @extend .active;
  background-color: $goodColor;
}

.evil {
  background-color: $evilColor;
  background: rgb(176, 125, 74);
  background: radial-gradient(circle, rgba(176, 125, 74, 1) 0%, rgba(213, 126, 38, 1) 45%, rgba(255, 129, 0, 1) 81%);
}

.activeEvil {
  @extend .active;
  background-color: $evilColor;
}

.portrait {
  justify-content: center;
  align-items: center;

  .image {
    position: absolute;
    height: 100%;
    object-fit: contain;
    bottom: 0;
    transition: transform 0.2s;
  }

  .description {
    background-color: vars.$color-background-translucent-light;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    padding: vars.$spacing-secondary;
    justify-content: center;

    .name {
      height: 32px;
      text-align: center;
      justify-content: center;
    }
  }
}

.landscape {
  .image {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: calc(100% - 2px);
    width: 40%;
    object-fit: contain;
    transition: transform 0.2s;
  }

  .name {
    z-index: 2;
    text-align: center;
    font-size: vars.$font-size-h1;
    margin-bottom: vars.$spacing-primary;
  }

  .description {
    position: absolute;
    top: 0;
    right: 0;
    padding: vars.$spacing-primary;
    background-color: vars.$color-background-translucent-light;
    height: 100%;
    width: 60%;

    .descriptionText {
      font-size: vars.$font-size-body2;
    }

    .descriptionItem {
      color: vars.$color-text-secondary;
    }
  }
}

.animationDisabled {
  .image {
    transform: unset !important;
  }
}
