.leaveButton {
}

.menu {
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  width: calc(100% - vars.$spacing-primary * 2);
  gap: vars.$spacing-primary;
  max-width: vars.$breakpoint-small;

  .menuItem {
    flex-direction: row;
    width: 100%;
    padding: vars.$spacing-primary;
    border-radius: vars.$roundness;
    gap: vars.$spacing-primary;
    align-items: center;
    background-color: vars.$color-surface2;
    cursor: pointer;

    &:hover {
      background-color: vars.$color-surface2;
    }

    .menuItemIcon {
      font-size: vars.$icon-size-large;
    }

    .menuItemText {
    }

    .menuItemTextTitle {
      font-size: vars.$font-size-h3;
    }

    .menuItemTextDescription {
      font-size: vars.$font-size-body2;
      color: vars.$color-text-secondary;
    }
  }

  .menuItemDisabled {
    filter: brightness(vars.$disabled-brightness-filter);
    pointer-events: none;
  }
}
