.container {
  .header {
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: var(--space-1);
    gap: var(--space-1);

    div {
      background-color: var(--color-surface-1);
      padding: var(--spacing-medium);
    }
  }
}
