.container {
  background-color: var(--color-surface-1);

  .content {
    display: flex;
    flex-direction: row;
    max-width: var(--breakpoint-large);
    padding-inline: var(--spacing-xl);
    padding-block: var(--spacing-medium);
    margin-inline: auto;
    align-items: center;
  }

  .settingsButton {
    margin-left: auto;
  }
}
