.container {
  .content {
    max-width: var(--breakpoint-large);
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    padding: var(--space-large);
    // gap: var(--space-large);
  }
}
