.container {
  padding-inline: var(--spacing-large);
  padding-block: var(--spacing-medium);
  border-radius: var(--roundness);
  border: none;
  cursor: pointer;
  color: var(--color-text-primary);

  .label {
    font-size: var(--font-size-h1);
    color: var(--color-text-secondary);
  }

  .icon {
  }
}

.disabled {
  filter: brightness(0.5);
}

.variant-primary {
  background-color: var(--color-primary);
}

.variant-secondary {
}
