.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--roundness);
  border: none;
  cursor: pointer;
  color: var(--color-text-primary);

  :disabled {
    filter: brightness(0.5);
  }

  .label {
    font-size: var(--font-size-body);
    color: var(--color-text-secondary);
    white-space: nowrap;
  }

  .icon {
  }
}

.variant-primary {
  background-color: var(--color-primary);
}

.variant-secondary {
}

.variant-danger {
  background-color: var(--color-danger);
}

.square {
  aspect-ratio: 1;
}

.variant-icon {
}
