.container {
  gap: vars.$spacing-secondary;
  min-width: fit-content;
  width: 100%;
  padding-right: vars.$spacing-primary;
  padding: vars.$spacing-primary;
  border-radius: vars.$roundness;

  .habit {
    flex-direction: row;
    gap: vars.$spacing-primary;
    align-items: center;
    flex: 1;

    .habitName {
      white-space: nowrap;
      max-width: 110px;
      min-width: 110px;
    }

    .habitDay {
      background-color: vars.$color-surface;
      padding: vars.$spacing-primary;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      flex: 1;
      aspect-ratio: 1;
    }

    .habitDayUnselected {
      background-color: vars.$color-surface;
    }

    .habitDaySuccess {
      background-color: #398039ff;

      &:hover {
        background-color: rgb(67, 184, 67);
      }
    }

    .habitDayFailed {
      background-color: #9c1a1a;

      &:hover {
        background-color: #bc1919;
      }
    }

    .habitDayDisabled {
      user-select: none;
      background-color: transparent;
      cursor: unset;
    }

    .habitIcon {
      font-size: vars.$icon-size-small;
    }
  }

  .filler {
    flex: 1;
    aspect-ratio: 1;
  }
}
