.container {
  flex: 1;
  justify-content: center;
  align-items: center;

  .label {
    font-size: 50px;
  }

  .loginForm {
    background-color: var(--color-surface);
    gap: var(--spacing-primary);
    padding: var(--spacing-primary);
    width: min(100% - var(--spacing-primary), 300px);
  }
}
