.container {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  gap: vars.$spacing-primary;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  .player {
    min-width: calc(33% - vars.$spacing-primary * 0.61);
    // height: 100%;
    max-height: 150px;
  }

  .playerSelected {
    // background-color: vars.$color-primary;
    border: 2px solid vars.$color-primary;
  }

  .playerDisabled {
    filter: grayscale(1);
    border: 2px solid vars.$color-background;
  }
}
