@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    font-family: 'Fredoka', sans-serif;
    line-height: 1.5;
    background-color: var(--color-surface-0);
    color: var(--color-text-primary);
  }

  img,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin-block: var(--spacing-small);
}

.surface-0 {
  background-color: var(--color-surface-0);
}

.surface-1 {
  background-color: var(--color-surface-1);
}

.surface-2 {
  background-color: var(--color-surface-2);
}

.surface-3 {
  background-color: var(--color-surface-3);
}

.border-0 {
  border: 2px solid var(--color-surface-1);
}

.border-1 {
  border: 2px solid var(--color-surface-2);
}

.border-2 {
  border: 2px solid var(--color-surface-3);
}
