.container {
  .percentCompleteLabel {
    // color: vars.$color-text-secondary;
  }

  .progressBar {
    height: 4px;
    background-color: vars.$color-surface;
    border-radius: vars.$roundness;
    overflow: hidden;

    .progress {
      position: absolute;
      left: 0;
      background-color: vars.$color-text-primary;
      height: 100%;
    }
  }
}
