.container {
  gap: vars.$spacing-primary;
  flex: 1;

  .items {
    gap: vars.$spacing-primary !important;
  }

  .addButton {
    position: absolute;
    bottom: vars.$spacing-primary;
    right: vars.$spacing-primary;
    z-index: 999;
  }
}

.containerFull {
  width: 100%;
}

.containerCompact {
  gap: vars.$spacing-primary;

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (min-width: vars.$breakpoint-medium) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.footer {
  padding: vars.$spacing-primary;
  padding-top: 0;
  gap: vars.$spacing-primary;
}
