.container {
  display: flex;

  .iconInput {
    gap: var(--space-small);
  }

  .iconButton {
    padding: var(--space-large);
    font-size: 48px;
    border: 1px solid var(--color-surface-2);
    height: 48px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: var(--space-large);
    gap: var(--space-large);

    .deleteButton {
      flex: 1;
    }

    .saveButton {
      flex: 2;
    }
  }
}
