.container {
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  gap: vars.$spacing-secondary;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  .vote {
    flex: 1;
    aspect-ratio: 0.5;
    border-radius: vars.$roundness;
    padding: vars.$spacing-primary;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: vars.$font-size-display;
    color: vars.$color-text-secondary;
  }

  .yesVote {
    @extend .vote;

    background: linear-gradient(45deg, rgb(43, 107, 47) 0%, rgb(39, 146, 46) 45%, rgb(27, 175, 37) 81%);
  }

  .noVote {
    @extend .vote;

    background: linear-gradient(45deg, rgb(124, 37, 37) 0%, rgb(170, 34, 34) 45%, rgb(202, 20, 20) 81%);
  }

  .voteDisabled {
    filter: brightness(0.6);
  }

  .voteResult {
    font-size: vars.$font-size-h1;
    text-align: center;
  }
}
