.container {
  position: fixed;
  left: var(--spacing-xl);
  right: var(--spacing-xl);
  top: var(--spacing-xl);
  bottom: var(--spacing-xl);
  background-color: var(--color-surface-1);

  .header {
    display: flex;

    .heading {
      font-size: var(--font-size-h3);
    }

    .closeButton {
      margin-left: auto;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
