.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  background-color: var(--color-surface-1);
  padding: var(--spacing-large);
  justify-content: stretch;
  align-items: stretch;
  z-index: 9;
  top: var(--spacing-xl);
  right: var(--spacing-xl);
  bottom: var(--spacing-xl);
  left: var(--spacing-xl);

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    gap: var(--spacing-medium);
  }

  .header {
    display: flex;

    .heading {
      font-size: var(--font-size-h3);
    }

    .closeButton {
      margin-left: auto;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
