.input {
  flex: 1;
  height: var(--element-large);
  padding-inline: var(--space-large);
  color: inherit;
  border-radius: var(--roundness);
  border: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
