.container {
  justify-content: center;
  align-items: center;
  padding: vars.$spacing-primary;
  width: 100%;
  height: 100%;

  .heading {
    flex: 0.5;
    font-size: vars.$font-size-display;
    text-align: center;
    justify-content: center;
    margin-bottom: vars.$spacing-primary;
  }

  .buttons {
    margin-bottom: vars.$spacing-primary;
    gap: vars.$spacing-primary;
    align-items: center;

    .button {
    }
  }
}

.footer {
  padding-top: vars.$spacing-tertiary;
  padding-bottom: vars.$spacing-primary;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex: 0.5;

  .createdBy {
    color: vars.$color-text-secondary;
    font-size: vars.$font-size-body2;
  }
}
