.container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-primary);
  background-color: var(--color-surface-1);
  padding: var(--spacing-medium);

  .signOutButton {
    margin-left: auto;
  }
}
