:root {
  /* Layout & Spacing */
  --roundness: 4px;
  --border-width: 1px;

  --icon-size-small: 12px;
  --icon-size-medium: 16px;
  --icon-size-large: 24px;

  --element-small: 28px;
  --element-medium: 32px;
  --element-large: 36px;

  --space-small: 4px;
  --space-medium: 8px;
  --space-large: 12px;

  --breakpoint-medium: 600px;
  --breakpoint-large: 800px;

  /** Surface Colours **/
  --color-surface-0: #101112;
  --color-surface-1: #1c1e20;
  --color-surface-2: #292c2f;
  --color-surface-3: #373a3e;
  --color-surface-4: #464a4f;

  /** Text Colours **/
  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-text-secondary: rgba(255, 255, 255, 0.7);
  --color-text-tertiary: rgba(255, 255, 255, 0.5);

  /** Brand Colours **/
  --color-primary: dodgerblue;
  --color-secondary: rgb(108, 117, 125);
  --color-success: rgb(37, 107, 37);
  --color-warning: rgb(218, 165, 32);
  --color-danger: rgb(184, 16, 16);
  --color-info: rgb(23, 162, 184);

  /* Typography */
  --font-size-title: 18px;
  --font-size-body: 16px;
  --font-size-small: 14px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height-base: 1.5;
}
