.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-large);
  gap: var(--spacing-large);

  .drinkButtons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-large);
    padding: var(--spacing-large);
    flex-wrap: wrap;

    .drinkButton {
    }
  }

  .delete {
    color: var(--color-danger);
    margin-left: var(--spacing-medium);
    cursor: pointer;
  }
}

.progressBarDanger {
  background-color: var(--color-danger) !important;
}

.addCustomButton {
  width: 300px;
}
