.container {
  .content {
    gap: var(--space-large);

    .item {
      display: flex;
      justify-content: stretch;
      flex-direction: column;
      gap: var(--spacesmall);
    }

    .genders {
      display: flex;
      gap: var(--space-small);

      .gender {
        background-color: var(--color-surface-3);
        padding: var(--space-small);
        border-radius: var(--roundness);
        cursor: pointer;
      }

      .genderSelected {
        background-color: var(--color-primary);
      }
    }
  }
}
