.container {
  display: grid;
  flex-direction: row;
  gap: var(--spacing-large);
  grid-template-columns: repeat(3, 1fr);

  .stat {
    background-color: var(--color-surface-1);
    padding: var(--spacing-large);
    border-radius: var(--roundness);

    .statLabel {
      text-align: center;
      color: var(--color-text-secondary);
      font-size: var(--font-size-small);
      white-space: nowrap;
    }

    .statValue {
      text-align: center;
      font-size: var(--font-size-h2);
    }
  }
}
