.container {
  gap: vars.$spacing-primary;

  .tasks {
    flex-wrap: wrap;
    gap: vars.$spacing-primary;
  }

  .tasksGrid {
    flex-direction: row;

    .task {
      min-width: calc(100% / 3 - vars.$spacing-primary / 1.5);
      max-width: calc(100% / 3 - vars.$spacing-primary / 1.5);
    }
  }

  .tasksList {
    .task {
      width: 100%;
    }
  }

  .addButton {
    position: fixed;
    bottom: vars.$spacing-primary;
    right: vars.$spacing-primary;
    z-index: 1;
  }

  .newTaskButton {
    position: fixed;
    bottom: vars.$spacing-primary;
    right: vars.$spacing-primary;
  }
}
