.noDrinksMessage {
  color: var(--color-text-secondary);
}

.content {
  .row {
    display: flex;
    background-color: var(--color-surface-2);
    border-radius: var(--roundness);
    display: flex;
    align-items: center;
    padding-inline: var(--space-large);
    padding: var(--space-small);
    gap: var(--space-small);

    .name {
      flex: 1;
    }

    .percentage {
    }

    .delete {
      color: var(--color-danger);
      cursor: pointer;
    }
  }
}
