.container {
  display: flex;
  gap: 50px;

  .iconInput {
    gap: var(--spacing-large);
  }

  .icon {
    padding: var(--spacing-xl);
    font-size: 40px;
    border: 1px solid var(--color-surface-2);
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-xl);
    gap: var(--spacing-xl);

    .deleteButton {
      flex: 1;
    }

    .saveButton {
      flex: 2;
    }
  }
}
