.container {
  position: fixed;
  top: 0;
  flex-direction: row;
  padding: vars.$spacing-primary;
  pointer-events: none;
  z-index: 9999;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .toast {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: vars.$roundness;
    padding: vars.$spacing-secondary;
    text-shadow: vars.$shadow;
    font-size: vars.$font-size-h3;
    animation: fadeIn 1s forwards;
    align-self: center;
    border: 2px solid vars.$color-surface3;
  }
}

.error {
  border: 2px solid vars.$color-danger;
}

.info {
  border: 2px solid vars.$color-primary;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
    opacity: 0;
  }
}
